.login {
  background-image: url('/src/assets/pages/sky.jpg');
  /*<a href='https://www.freepik.com/vectors/design'>Design vector created by macrovector - www.freepik.com</a>*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem 0rem 1rem;
}

.color {
  background-color: white;
}

.icon {
  width: 2rem;
  margin: 2rem;
}
.logo {
  width: 100%;
}
