.login{
    background-image: url('/src/assets/pages/sky.jpg');
    /*<a href='https://www.freepik.com/vectors/design'>Design vector created by macrovector - www.freepik.com</a>*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:1rem 0rem 1rem;
    height: 100vh;
}
.title{
    font-size: 4rem;
    text-align: left;
    margin-top:1rem;
}

.subtitle{
    font-size: 2rem;
    padding-bottom:2rem;
    font-family: 'Mochiy';
}
.color_text{
    color:#2aa3d3;
}
 .color{
     background-color: white;
 }

.button{
    border-radius:8px;	
    display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Mochiy';
	font-size:28px;
	padding:10px 50px;
	text-decoration:none;
    margin:20px;
    width:16rem;
}


.register {
	box-shadow: 0px 0px 0px 0px #141112;
	background-color:#4d4444;
	border:1px solid #8f8f8f;
	text-shadow:0px 1px 0px #0a0406;
}
.register:hover {
	background-color:#858284;
    color:white;
}
.register:active {
	position:relative;
	top:1px;
    color:white;
}
.icon{
    width:2rem;
    margin:2rem;
}
.logo{
    width:100%;
}