.play{
  background-image: url('/src/assets/section-baner/play.png');
  padding:40px;
  border-radius:10px;
  background-color: rgba(0,0,0,.4);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display:flex;
  justify-content: center;
  width: 40px;
  height:40px;
  border-radius:10px;
  background-color: rgba(0,0,0,.4);
  margin-left: 50%;
  margin-top: 10%;
}