.chesslearn {
  min-height: 100vh;
}

.start {
  text-align: left;
  height: 100vh;
  margin: 1rem 0rem 1rem;
  border-radius: 10px;
}

.background_color {
  background-color: aliceblue;
}

.link {
  font-family: 'Mochiy';
  color: #cecfcf;
  font-size: 1rem;
}

.linkblock {
  text-align: right;
  padding: 1rem;
}
