.about {
  font-size: 1rem;
  padding: 1rem;
  font-family: 'Mochiy';
}
.start {
  text-align: left;

  margin: 1rem 0rem 1rem;
  border-radius: 10px;
}

.picture {
  width: 100%;
}

.background_color {
  background-color: aliceblue;
}
