.subtitles {
  font-size: 1.5rem;
  font-family: 'Mochiy';
  padding: 1rem 1rem;
}
.about {
  font-size: 1rem;
  padding: 1rem;
  font-family: 'Mochiy';
}
.start {
  text-align: left;
  background-color: aliceblue;
  margin: 1rem 0rem 1rem;
  border-radius: 10px;
}
.title {
  font-size: 2rem;
  font-family: 'Mochiy';
  padding: 1rem 1rem;
  color: #2aa3d3;
}

.picture {
  width: 100%;
}
