.link {
  font-family: 'Mochiy';
  font-size: 1.2rem;
  color: white;
  text-align: left;
  display: inline-block;
  padding: 0.5rem 1rem;
}
.icon {
  width: 2rem;
}

.dropdownmenu {
  list-style-type: none;
  padding: 0;
  text-align: left;
}
a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
