.chessreport {
  display: flex;
  font-size: var(--global-var-font-size-1rem);
  color: var(--global-var-color-white);
  border-radius: 10px;
  border: 1px solid var(--global-var-color-white);
  box-shadow: -2rem 0 3rem -2rem var(--global-var-color-white);
  text-align: var(--global-var-align-left);
  justify-content: space-between;
}

.body {
  padding: 2%;
  padding-top: 10%;
  width: 70%;
}
.bodytext {
  font-family: var(--global-var-font-mocha);
}
.img {
  padding: var(--global-var-font-size-1rem);
  font-family: var(--global-var-color-mocha);

  width: 100%;
}

.imgblock {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  background-color: #bbb;
  position: relative;
}

.note {
  color: var(--global-var-color-note);
  font-family: var(--global-var-font-mocha);
}

.imgcontainer {
  padding: 1rem;
}
