.learn {
  background-image: url('/src/assets/section-learn/cess.png'), url('/src/assets/section-learn/land3.jpg');
  /*<a href='https://www.freepik.com/vectors/design'>Design vector created by macrovector - www.freepik.com</a>*/
  background-position: center;
  background-size: contain, cover;
  background-repeat: no-repeat;
  padding-bottom: 20%;
}
.logo {
  width: 45%;
}

.promo {
  margin-top: 10%;
}
