.datepicker {
  display: flex;
  flex-wrap: wrap;
}
.flexitem {
  padding: 0.5rem;
}
.customisedatepiker {
  background-color: var(--global-var-color-orange);
  border-radius: 5px;
  border-color: var(--global-var-color-orange);
  font-family: var(--global-var-font-mocha);
  color: var(--global-var-color-white);
}
.customisedatepiker:hover,
.customisedatepiker:active,
.customisedatepiker:visited {
  background-color: #f2bd9f;
  border-color: var(--global-var-color-orange);
}
