.photo_pacage {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 170px;
  height: 170px;
}
.photo {
  height: 170px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ff6b08;
  border-radius: 10px;
}
