.couch {
  background-image: url('/src/assets/section-couch/back.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20%;
}

.list {
  font-size: 2rem;
  text-align: left;
  color: white;
}
