.couch {
  background-image: url('/src/assets/section-couch/back.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20%;
}
.couchsay {
  margin-top: 50%;
}
.centerAlign {
  margin-top: 25%;
}
