.people {
  margin: 3%;
  border-radius: 10px;
  border: 1px solid #ff6b08;
}

.chessstatistic {
  text-align: left;
}

.actionsline {
  margin-top: 3%;
  border-radius: 10px;
  border: 1px solid #ff6b08;
}
