.button {
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Mochiy';
  font-size: 28px;
  padding: 10px 50px;
  text-decoration: none;
  margin: 20px;
  width: 16rem;
}
.button {
  box-shadow: 0px 0px 0px 0px #c25e1b;
  background-color: #ff6b08;
  border: 1px solid #f2bd9f;
  text-shadow: 0px 1px 0px #662828;
}
.button:hover {
  background-color: #f2bd9f;
  color: white;
}
.button:active {
  position: relative;
  top: 1px;
  color: white;
}
