.body {
  font-size: var(--global-var-font-size-1rem);
  font-family: var(--global-var-font-mocha);
  text-align: left;
}

.blockbody {
  margin-top: var(--global-var-font-size-1rem);
}

.img {
  width: 100%;
}
.promo {
  text-align: left;
}
