.profile_display {
  width: 100%;
  position: relative;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
  height: 250px;
  background-color: #fff;
}
.profile_cover {
  height: 250px;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.logo_info {
  background-color: #f5f5f5;
  position: absolute;
  top: 30%;
  left: 5%;
}
.cover_add {
  position: absolute;
  top: 0;
  left: 5%;
}
