.baneritemcard {
  border-radius: 10px;
  box-shadow: 0 0 2rem var(--global-var-color-note);
  font-family: var(--global-var-font-mocha);
  position: absolute;
  background-color: var(--global-var-color-white);
}

.banercardheader {
  color: var(--global-var-color-orange);
}

.baneritemcard:hover,
.baneritemcard:active {
  border: 1px solid var(--global-var-color-blue);
  box-shadow: -2rem 0 3rem -2rem var(--global-var-color-blue);
  transform: rotate(-15deg);
}

.position {
  position: relative;
}
@media screen and (max-width: 1195px) {
  .baneritemcard {
    position: static;
  }
  .baneritemcard:hover,
  .baneritemcard:active {
    transform: none;
  }
}

.img {
  width: 15%;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.imgposition {
  position: relative;
  height: 5.5rem;
  padding: 10px;
}
