.baneritemblock {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 10rem;
}

.baneritemblock div {
  width: 20em;
}

@media screen and (max-width: 1195px) {
  .baneritemblock {
    padding-bottom: 0;
  }
}
