.payblock {
  background-color: white;
  border-radius: 10px;
}
.relativepic {
  position: relative;
}
.picture {
  animation: MoveUpDown 10s linear infinite;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 7rem;
  }
}
