.chess_board {
  border-spacing: 0;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
.chess_board th {
  padding: 0.5em;
}
.chess_board td {
  border: 1px solid;
  width: 4em;
  height: 4rem;
}
.chess_board .light {
  background: #eee;
}
.chess_board .dark {
  background: black;
}
.square:focus {
  background: #c25e1b;
}

.square:hover {
  background: #f2bd9f;
}
.active {
  background: red;
}
