.playprofile {
  background-color: aliceblue;
  margin: 1rem 0rem 1rem;
  border-radius: 10px;
}
.flex {
  display: flex;
  text-align: left;
  padding: 1rem;
}
.flex_item_user_avatar {
  width: 50%;
}

.flex_item_user_body {
  width: 50%;
}
