.playprofile {
  background-color: aliceblue;

  border-radius: 10px;
}
.flex {
  display: flex;
  text-align: left;

  flex-wrap: wrap;
}
.flex_item_user_avatar {
  width: 30%;
}

.flex_item_user_body {
  width: 70%;
}
