.pay {
  background-image: url('/src/assets/pages/sky.jpg');
  /*<a href='https://www.freepik.com/vectors/design'>Design vector created by macrovector - www.freepik.com</a>*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 10px;
}
