.menu{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height:40px;
  padding:8px;
  border-radius:10px;
  background-color: rgba(0,0,0,.4);
  background-image: url('/src/assets/header/icon.png');
  background-position: center;
  background-size: contain, cover;
  background-repeat: no-repeat;
}
.nav{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  width:100%;
  height:70px;
  position:fixed;
  top:0;
  left:0;
  right:0;
  padding-right:2rem;
  padding-left:2rem;
}